.wrapper {
    margin: 2% auto;
    width: 100%;
}

.section {
    margin: 10% auto;
    width: 100%;
}

.borderTop {
    border-style:double;
    border-top: gray;
}

.motto_span {
    /* italics and light blue highlight */
    font-style: italic;
    color: #64adff;
}

.red_motto_span {
    font-style: italic;
    color: #d82222;
}

.freedom-list {
    text-align: center;
    font-variant: small-caps;
    color: white;
}
.freedom {
    background-color: black;
    border-radius: 50%;
    padding: 2%;
    margin: 5%
}

.blockquote {
    width: 50%;
    border-radius: 25px;
    text-align: center;
    background-color: #fafad2;
    padding-top: 1%;
    padding-bottom: 1%;
}

.top {
    text-align: center;
}

#nav {
    /* position: fixed; */
    top: 0;
    width: 100%;
    /* z-index: 9999; */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center-motto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.rounding {
    border-radius: 10%;
}

.problem {
    padding-right: 10%;
}

.space {
    padding-top: 2%;
    padding-bottom: 2%;
}

.section2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
}

.multitext {
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
    align-content: stretch;
}

.flexItem {
    text-align: center;
    width: 33%
}

.givePadding {
    padding: 1%
}

.col {
    text-align: center;
}

.coolCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.border {
    border: 1px solid black;
}
